* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    height: 475px;
    width: 300px;
    box-shadow: 0 10px 20px black;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.image {
    height: 100px;
    width: 100px;
    background-image: url(../images/IMG_20191207_071017.png);
    background-size: cover;
    border-radius: 50%;
    border: 8px solid white;
    position: relative;
    top: 200px;
    margin-left: 170px;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg);
}

.shape {
    height: 250px;
    width: 400px;
    background-color: black;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px black;
    transform: rotate(25deg);
}

h3 {
    margin-bottom: 10px;
}

.title {
    color: rgb(105, 100, 109);
}

p {
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(105, 100, 109);
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: .3s ease;
    color: rgb(40, 163, 194);
}

.icons i:hover {
    transform: scale(1.1);
    color: rgb(18, 192, 235);
    
}

.portfolio {
    display: flex;
    margin: 20px auto 5px;
    min-width: 50%;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(40, 163, 194);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;
    animation: slide-in-left 2s ease-in-out forwards 2s;
    opacity: 0;
}



.portfolio:hover {
    background-color: rgb(40, 163, 194);
    transform: scale(1.1);
}

